* {

}

body {
}
main {
    display: inline-flex;
    width: 100%;
}
nav {
    border: 5px solid;
    padding: 1em;
    width: 300px;
}
input[type="search"], select {
    position: absolute;
    width: 200px;
}
div {
    width: 100%;
}
.credit {
    display: none;
}
input:hover + .credit, .credit:hover {
    display: block;
}