/* Full website */
body {
    font-family: 'Albert Sans';
    color: white;
    /* Body.png By Virgil Pana 
    https://ui8.net/virgil-pana/products/slick-headers */
    background-image: url("Images/Body.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color:  #1E1E1E;
    min-height: 100vh;
    max-height: 100%;
    max-width: 100%;
}


/* Below here is header css */
header{
    font-size: 25px;
    color: #FFFFFF;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
    padding-top: 24px;
    padding-bottom: 10px;
    
}

ul{
    list-style: none; 
}

li{
    display: inline;
}

a{
    color: #FFFFFF;
}

#names{
    float:left;
    position: absolute;
    width: 150px;

    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
}

#Homepage{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;

    float: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    

}

.nav{
    float:right;
    padding-right: 20px;
}


/* Below here is the Body CSS */
main{
    text-align: center;
    left: 100px;
    padding-left: 25px;
    padding-right: 25px;
}

form{
    display:inline-block;
    text-align:left;
    
}

input{
    margin-bottom: 15px; 
    
}


/* Below this is footer */
#footerline{
    
    float:left;
    padding-right: 20px;
   
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
   
}

#Assignment{
   
    float: none;

    font-style: italic;
    font-weight: 300;
    font-size: 16px;
   
}    

#copyright{
    float: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    }

.GithubLink{
    position: relative;
    float:right;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    padding-right: 20px;
    padding-bottom: 20px;
    
    
}

.GithubLink>a>p{
    float: right;
    text-align: center;
    padding-top: 10px;
    padding-left: 5px;
}